@{
    ViewData["Title"] = "Início";
}

<div id="menuPrincipal" class="caixa">
    <div class="titulo-principal">DOCUMENTOS - LITORAL POLIMENTOS</div>

 

    <!-- Linha 2: Documentos -->
    <div class="d-grid gap-2">
        <button class="btn btn-menu btn-lg" onclick="abrirPagina('paginaOrcamento')">📁 ORÇAMENTO</button>
        <button class="btn btn-menu btn-lg" onclick="abrirPagina('paginaRecibo')">🧾 RECIBO</button>
        <button class="btn btn-menu btn-lg" onclick="abrirPagina('paginaContrato')">📝 CONTRATO</button>
    </div>
</div>

<partial name="_Orcamento" />
<partial name="_Recibo" />
<partial name="_Contrato" />